## Lottery Prediction

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('Melate.csv')
mydata = df[['R1', 'FECHA']]

      R1       FECHA
0     29  17/04/2022
1     23  15/04/2022
2      1  13/04/2022
3     19  10/04/2022
4     21  08/04/2022
...   ..         ...
3570   4  16/09/1984
3571   8  09/09/1984
3572  16  02/09/1984
3573   5  26/08/1984
3574   1  19/08/1984

[3575 rows x 2 columns]